[user]
	name = Predrag Stefanovic
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	autosquash = true
[core]
	editor = code --wait
	autocrlf = true
[winUpdater]
	recentlySeenVersion = 2.40.1.windows.1
[credential]
	helper = manager
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	autoSetupRemote = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
